*{margin: 0;padding: 0;}

.container {
    border: 2px solid black;
    height: 549px;
    max-width: 950px;
    background-color: #252525;
    overflow: scroll;
    background-image: url('/Chatters_background.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 34px auto;
    background-position: center;
    width: 87%;
  }
.message {
    background-color: aliceblue;
    width: 10vw;
    margin: 20px 11px;
    border: 2px solid black;
    padding: 6px 11px;
    border-radius: 7px;
    clear: both;
  }
.right{
    float : right ;
    clear: both;
}

.left{
    float: left ;
    clear : both ;
}

.send-container {
    min-width: 291px;
    padding: 5px;
    margin: auto 30%;
    height: 60px;
    width: 60%;
  }
#messageInp
{
    height: 4vh;
    border: 2px solid black;
    width: 35vw;
    padding: 5px;
    overflow-y: auto;
    margin-bottom: 24px;
}

.btn
{
    padding: 8px;
    background-color: rgb(56, 170, 232);
    color: bisque;
    border-radius: 6px;
    margin: 8px;
}

body
{
    background-color: aliceblue;
    
 
}

.container img
{
    height: 20vh;
    width: 20vw;
    
}

nav h1 {
    position: relative;
    left: 40%;
    top: 18px;
  }